body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: url(1702440531749.png);
    background-position: center;
    background-size: cover;

}
#box{
    height: auto;
    width: 500px;
   background-color: #ccd5ae;
   margin-top: 50px;
   margin-left: 80px;
}

h1{
    text-align: center;
    font-size: 30px;

}
label{
    font-size: 25px;
    text-align: center;
    margin-left: 20%;
}
select{
  width: 200px;
  font-size: larger;
  margin-left: 20%;
}
#aa{
    width: 300px;
    height: 40px;
    border: 2px solid black;
    background-color: white;
    margin-left: 20%;
}

button{
    height: 30px;
    background-color: green;
    color: white;
    width: 200px;
    font-size: 25px;
    margin-left: 30%;
 
}
#btn1{
    margin-left: 20%; 
    background-color: blue;
    width: 300px;
}